# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Logs & Data
*.log
/data/raw/login_logs.jsonl
/data/processed/dataset.csv
/data
/attacker/passwords.txt
/attacker/users.txt

# VS Code
.vscode/
/monitor/captures/traffic.pcap

# JetBrains
.idea/

# macOS
.DS_Store

# Datos generados
data/raw/*.jsonl
data/processed/*.csv

# Capturas de red
monitor/captures/*.pcap
monitor/captures/*.pcapng

# MongoDB local
data/mongodb/